<link href='https://fonts.googleapis.com/css?family=Permanent+Marker' rel='stylesheet' type='text/css'>

<h1>Create New User</h1>


    <%= form_for @user do |f| %>
    <% flash.each do |key, msg| %>
    <div><%= msg %></div>
    <% end %>

<form>
<div class='col-md-7' 'row-1' >
    <%= f.label :first_name, class:'sr-only'%>
    <%= f.text_field :first_name, placeholder: "First Name", class: 'form-control'%>

    <%= f.label :last_name, class: 'sr-only'%>
    <%= f.text_field :last_name, placeholder: "Last Name", class: 'form-control'%>
</div>

<div class= 'col-md-7' 'row'>
    <%= f.label :user_name, class: 'sr-only' %>
    <%= f.text_field :user_name, placeholder: "User Name", class: 'form-control'%>
</div>

<div class= 'col-md-7' 'row'>
    <%= f.label :city, class: 'sr-only' %>
    <%= f.text_field :city, placeholder: "City", class: 'form-control'%>

    <%= f.label :state, class: 'sr-only' %>
    <%= f.text_field :state, placeholder: "State", class: 'form-control'%>
</div>

<div class= 'col-md-7' 'row'>
    <%= f.label :email, class: 'sr-only' %>
    <%= f.email_field :email, placeholder: "Email", class: 'form-control'%>
</div>

<div class= 'col-md-7' 'row'>
    <%= f.label :password, class: 'sr-only'  %>
    <%= f.password_field :password, placeholder: "Password", class: 'form-control'%>

    <%= f.label :password_confirmation, class: 'sr-only' %>
    <%= f.password_field :password_confirmation, placeholder: "Password Confrimation", class: 'form-control'%>
</div>

<div class= 'col-md-7' 'row'>
    <%= f.submit  "Register" %>
</div>

<% end %>
</div>
</div>
</form>



