<link href='https://fonts.googleapis.com/css?family=Permanent+Marker' rel='stylesheet' type='text/css'>


<h1>Edit this post!</h1>
<div class="edit-post">
<%= form_for @post, url: "/posts/#{params[:id]}", method: "patch" do |f| %>


    <div>
        <%= f.label :description %>
        <%= f.text_field :description %>
    </div>


    <%= f.submit "Submit these changes!" %>

<% end %>

<%= link_to "Post page", category_path(@post.category) %>
<%= link_to "Delete", post_path, method: :delete, data: { confirm: "Are you sure you want to delete this Post?"} %>
</div>

