<h1> <%= @category.topic %> </h1>

    <% @category.posts.each do |post| %>
        <div><%= post.description %></div>

        <div><%= post.user.user_name %></div>

        <%= link_to 'Edit', edit_post_path([post.id]), method: :get %>
    <%end%>

<h3>Share Something GOOD!</h3>
<h5>Create Post</h5>

    <%= form_for @post do |f| %>
    <% flash.each do |key, msg| %>
        <div><%= msg %></div>
    <% end %>

    <%= f.hidden_field :category_id, :value => params[:id] %>

    <%= f.hidden_field :user_id, :value => session[:user_id] %>

    <%= f.text_area :description %>

    <%= f.submit "Post" %>

    <% end %>

