<h1> <%= @category.topic %> </h1>

    <% @category.posts.each do |post| %>
    <%= post.description %>

<%end%>

<h1>Create Post</h1>
    <%= form_for @post do |f| %>
    <% flash.each do |key, msg| %>
        <div><%= msg %></div>
    <% end %>

    <%= f.hidden_field :category_id, :value => params[:id] %>

    <%= f.hidden_field :user_id, :value => session[:user_id] %>

    <%= f.text_area :description %>

    <%= f.submit "Post" %>
    <% end %>

