<!DOCTYPE html>
<html>
<head>
  <title>Project2ShareSomethingGood</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>

<body class="<%= "category-#{@category.topic}" if @category %>">
    <%= render 'layouts/navbar' %>


<%= yield %>
</body>
</html>
