<!DOCTYPE html>
<html>
<head>
  <title>Project2ShareSomethingGood</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
    <%= render 'layouts/navbar' %>

    <% if current_user %>
      <%= current_user.user_name %>
      <%= link_to 'Logout', session_path('dummy'), method: :delete %>
      <%= link_to 'Edit Profile', edit_user_path(session[:user_id]), method: :get %>
      <%= link_to 'Categories', categories_path %>
    <% else %>
      <%= link_to 'Login', login_path %>
      <%= link_to 'NEW USER', new_user_path %>
    <% end %>

<%= yield %>
</body>
</html>
