<!DOCTYPE html>
<html>
<head>
  <title>Project2ShareSomethingGood</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

<p>
  <% if current_user %>
    Welcome, <%= current_user.user_name %>
    &nbsp;&nbsp;|&nbsp;&nbsp;
    <%= link_to 'Logout', session_path('dummy'), method: :delete %>
    <%= link_to 'Edit Profile', edit_user_path(session[:user_id]), method: :get %>
  <% else %>
    <%= link_to 'Login', login_path %>
    &nbsp;&nbsp;|&nbsp;&nbsp;
    <%= link_to 'NEW USER', new_user_path %>
  <% end %>
</p>

<%= yield %>

</body>
</html>
